@font-face {
  font-family: 'comic_reliefregular';
  src: url('../../assets/fonts/comicrelief-webfont.eot');
  src: url('../../assets/fonts/comicrelief-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/comicrelief-webfont.woff2') format('woff2'),
  url('../../assets/fonts/comicrelief-webfont.woff') format('woff'),
  url('../../assets/fonts/comicrelief-webfont.ttf') format('truetype'),
  url('../../assets/fonts/comicrelief-webfont.svg#comic_reliefregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nautilus_pompiliusregular';
  src: url('../../assets/fonts/nautilus-webfont.eot');
  src: url('../../assets/fonts/nautilus-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/nautilus-webfont.woff2') format('woff2'),
  url('../../assets/fonts/nautilus-webfont.woff') format('woff'),
  url('../../assets/fonts/nautilus-webfont.ttf') format('truetype'),
  url('../../assets/fonts/nautilus-webfont.svg#nautilus_pompiliusregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
body{
  font: 16px 'comic_reliefregular';
  color: #24282b;
}
.plans{
  width: 100%;
}
.el-form-item__label{
  font: 16px 'nautilus_pompiliusregular';
}
.event-title .el-checkbox__label{
  overflow: hidden;
  padding: 0 5px;
  line-height: 22px;
  font: 16px 'comic_reliefregular';
}
.el-checkbox{
  overflow: hidden;
}
.event-title  .el-checkbox__input{
  margin-right: 10px;
}
.event-title{
  margin: 0;
}
.event-title .el-checkbox__label::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 100%;
  width: 100%;
  height: 4px;
  background: #eb2141;
}
.event-title.done .el-checkbox__label::after {
  right: 0%;
  transition: all .3s;
  transition-delay: .2s;
}
.event-title .el-checkbox__label::after{
  -webkit-transition: all 0.0s ;
  -moz-transition: all 0.0s ;
  -o-transition: all 0.0s ;
  transition: all 0.0s;
}
.plans{
  border: 15px solid rgba(125, 89, 49, 0.44);
  padding-top: 30px;
}
.plans .list-group{
  display: block;
  max-height: 600px;
  overflow: auto;
  padding-bottom: 35px;
}
#pin{
  background: url('../../assets/images/pin.png') top center no-repeat;
  height: 100px;
  background-size: contain;
  margin-bottom: -45px;
  position: relative;
  z-index: 1;
}
#todo{
  background: url('../../assets/images/todo.png') top center no-repeat;
  height: 50px;
  width: 100px;
  margin-left: 15%;
  margin-bottom: 15px;
  background-size: contain;
  float: left;
}
.list-group-item{
  border-right: none;
  border-left: none;
  padding: 5px 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.el-checkbox{
  color: inherit;
 }
.controls{
  float: right;
}
.event-form{
  background: url('../../assets/images/note.png') no-repeat;
  background-size: 100%;
  padding: 85px 40px 10px;
}
label{
  margin-bottom: 0px;
}
.el-textarea__inner{
  height: 80px;
  resize: none;
}
.period{

}
.el-button+.el-button {
    margin-left: 5px;
}
.el-button{
  padding: 8px 10px;
}

.event-item .el-icon-information{
  color:transparent;
  font-size: 12px;
  vertical-align: top;
}
.event-item.expired .el-icon-information{
  color: #ff4949;
}
.event-item.expired-today .el-icon-information{
  color: #f7ba2a;
 }
.event-item label, .event-item i{
  vertical-align: middle;
}
.list-leave-active {
  transition: all 0.5s;
  opacity: 0;
}
.list-group-item:last-child{
  border-radius: 0;
}
.date{
  font: 12px "Arial";
}
.title{
  vertical-align: middle;
}
.plans-header{
  overflow: auto;
}
.create-event{
  float: left;
  cursor: pointer;
}
.future-events{
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
