.create-event-dialog.el-dialog{
    width: 380px;
    top: 20px!important;
}
.create-event-dialog .el-dialog__body{
    padding: 10px 20px;
}
.create-event-dialog  .datetime{
    float: left;
}
.create-event-dialog i.create-event-form-item{
    color: white;
    background: rgb(5, 218, 51);
    padding: 7px;
    border-radius: 50%;
    border: 2px solid #13ce66;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -80px;
}
.create-event-dialog .el-dialog__headerbtn{
    top: 45px;
    right: 50px;
    position: absolute;
}
.create-event-dialog .el-dialog__headerbtn:focus{
    outline: none;
}
.create-event-dialog  .el-dialog__headerbtn .el-dialog__close{
    color: rgb(255, 113, 25);
    background: white;
    padding: 7px;
    border-radius: 50%;
    border: 2px solid #f7ba2a;
}
.create-event-dialog .el-dialog__header{
    padding: 0;
}
.event-form .el-form-item.title{
    margin-bottom: 20px;
}
.event-form .el-form-item{
    margin-bottom: 10px;
}
.period .el-input-number .el-input__inner{
    width: 125px;
}
.period{
    margin-top: 20px;
    text-align: right;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:  #48576a;
    font: 16px 'nautilus_pompiliusregular';
}
::-moz-placeholder { /* Firefox 19+ */
    color:  #48576a;
    font: 16px 'nautilus_pompiliusregular';
}
:-ms-input-placeholder { /* IE 10+ */
    color:  #48576a;
    font: 16px 'nautilus_pompiliusregular';
}
:-moz-placeholder { /* Firefox 18- */
    color:  #48576a;
    font: 16px 'nautilus_pompiliusregular';
}

@media (max-width: 768px) {
    .create-event-dialog.el-dialog {
        width: 320px;
        top: 0!important;
    }
    .create-event-dialog .el-dialog__body{
        padding: 5px;
    }
    .event-form{
        padding: 45px 30px 0px;
    }
    .create-event-dialog .el-dialog__headerbtn {
        top: 35px;
        right: 30px;
    }
    .period {
        margin-top: 5px;
    }
    .create-event-dialog i.create-event-form-item{
        right: -70px;
    }
}